

h1 {
	text-align: center;
	margin-top: 5%;
	font-family: Lato, sans-serif;
	text-shadow: 1px 8px 8px rgba(6, 5, 1, 0.6);
}
.loan-form {
	width: 35%;
	margin: 50px auto;
}
.msg-error {
	margin: 10px 0px;
	padding: 12px;
	color: #d8000c;
	background-color: #ffd2d2;
}

#back-to-form {
	background-color: #39861B;
	box-shadow: 1px 8px 8px rgba(6, 5, 1, 0.6);
	font-family: Roboto , sans-serif,
}

.results {
	text-align: center;
}
